<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="shrink-to-fit=no, width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Gallery</title>

    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.10/dist/vue.js"></script>

    <link rel="stylesheet" href="assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
        integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link rel="stylesheet" href="assets/css/style.css">
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-md navbar-dark bg-dark">
            <a class="navbar-brand" href="#">Gallery</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mainNav"
                aria-controls="mainNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="mainNav">
                <div class="navbar-nav ml-auto">
                    <a class="nav-item nav-link active" href="#">Home <span class="sr-only">(current)</span></a>
                    <a class="nav-item nav-link" href="#">Collections</a>
                    <button class="nav-item btn btn-primary" type="button">Add Photo</button>
                </div>
            </div>
        </nav>
    </header>
    <main>
        <div class="container" id="app">
            <div class="row my-5">
                <div class="col text-center">
                    <button type="button" class="btn btn-outline-primary filter-btn my-2 active">All</button>
                    <button type="button" class="btn btn-outline-primary filter-btn my-2">Pink</button>
                    <button type="button" class="btn btn-outline-primary filter-btn my-2">Blue</button>
                    <button type="button" class="btn btn-outline-primary filter-btn my-2">Yellow</button>
                </div>
            </div>
            <div class="row">
                <div class="card-columns">
                    <div v-for="item in photoObjects" :data-key="item.dataKey" class="card text-white">
                        <img :src="item.photoPath" class="card-img" alt="Card image">
                        <div class="card-img-overlay d-flex flex-column justify-content-between">
                            <div class="top-block text-right">
                                <a href="item.photoPath" class="btn btn-light download-btn" download>
                                    <i class="fas fa-download"></i>
                                </a>
                            </div>
                            <div class="bottom-block">
                                <div class="author d-inline-block">
                                    <img :src="item.authorImg" alt="" class="author-avatar rounded-circle">
                                    <span>{{item.authorName}}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div id="modal" class="flex-column justify-content-between">
            <div class="top-block justify-content-between">
                <a href="#" class="btn btn-light download-btn" download>
                    <i class="fas fa-download"></i>
                </a>
                <button type="button" class="close" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="img-wrap align-self-center">
                <img src="#" alt="" class="image">
            </div>
            <div class="bottom-block"></div>
        </div>
    </main>

    <footer></footer>

    <script src="assets/js/jQuery.js"></script>
    <script src="assets/js/bootstrap.bundle.min.js"></script>
    <script src="assets/js/vue/app.js"></script>
    <script src="assets/js/main.js"></script>
</body>

</html>
